<hr>
<form [formGroup]="form">
    <div class="form-group">
        <label for=''>Old Password</label>
        <input formControlName="oldPassword" type="password" class="form-control">
        <div 
            *ngIf="oldPassword && oldPassword.touched && oldPassword.invalid"
            class="alert alert-danger">
            <div *ngIf="oldPassword.errors && oldPassword.errors.required">Old password is reqired.</div>
        </div>
    </div>

    <div class="form-group">
        <label for=''>New Password</label>
        <input formControlName="newPassword" type="password" class="form-control">
        <div 
        *ngIf="newPassword && newPassword.touched && newPassword.invalid"
        class="alert alert-danger">
        <div *ngIf="newPassword.errors && newPassword.errors.required">New password is reqired.</div>
        </div>
    </div>

    <div class="form-group">
        <label for=''>Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
        <div 
            *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.invalid"
            class="alert alert-danger">
        <div *ngIf="confirmPassword.errors && confirmPassword.errors.required">New confirm password is reqired.</div>
    </div>
    
        
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>